<% title "Financial Transaction Type" %>

<p>
  <strong>Value:</strong>
  <%= @financial_transaction_type.value %>
</p>

<p>
  <%= link_to "Edit", edit_financial_transaction_type_path(@financial_transaction_type) %> |
  <%= link_to "Destroy", @financial_transaction_type, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", financial_transaction_types_path %>
</p>
