<div class="control-group">
	<label class="control-label">Registration Mark</label>
	<div class="controls">
		<%= f.text_field :value, :class => 'input-large' %>
	</div>
</div>
<% if form_actions_visible == true %>
	<div class="row">
		<div class="span6">
			<%= render :partial => "shared/form_actions" %>
		</div>
	</div>
<% end %>