<% title "Edit Funding Plan Volume Bonus Plan" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", @funding_plan_volume_bonus_plan %> |
  <%= link_to "View All", funding_plan_volume_bonus_plans_path %>
</p>
