<div id="table-controls">
	<a id="slideout-new-link" href="../sales/new"><i class="dashboard-icons-colors plus_sl"></i></a><br>
	<a id="slideout-edit-link" href="../sales/1/edit" disabled="true"><i class="dashboard-icons-colors edit_sl"></i></a><br>
	<a id="slideout-delete-link" href="../sales/1/edit" disabled="true"><i class="dashboard-icons-colors busy_sl"></i></a>
</div>