<div class="control-group show-hide-controller-container">
	<label class="control-label">Customer Type</label>
	<div class="controls">
		<%= f.collection_select(:customer_type_id, CustomerType.all, :id, :value, {:prompt => ""}, {:id => "customer-type-selector", :class => "show-hide-controller", "data-placeholder" => "Select Customer Type"}) %>
	</div>
</div>
<% features_to_build = ["First Name(s)", "Last Name", "Date of Birth", "Name", "Company Number"]%>
<% features_to_build.each do |feature| %>
	<% if f.object.features.where(:feature_type_id => FeatureType.where(:value => feature)).blank? %>
		<% built_feature = f.object.features.build %>
		<% built_feature.feature_type = FeatureType.where(:value => feature).first %>
	<% end %>
<% end %>
<%= f.fields_for :features do |features_builder| %>
	<%= render :partial => "features/fixed_feature", :locals => {:f => features_builder, :fixed_feature_type => features_builder.object.feature_type.value, :form_actions_visible => false} %>
<% end -%>
<% if form_actions_visible == true %>
	<%= render :partial => "shared/form_actions" %>
<% end %>
