<div class="control-group">
	<label class="control-label">Customer Type</label>
	<div class="controls">
		<%= f.collection_select(:customer_type_id, CustomerType.all, :id, :value, {}, {:id => "customer-type-selector"}) %>
	</div>
</div>
<div id="customer-features">
	<%= add_fixed_fields('features', ["First Name(s)", "Last Name", "Date of Birth", "Name", "Company Number"], f, false, false) %>
</div>
<% if form_actions_visible == true %>
	<%= render :partial => "shared/form_actions" %>
<% end %>
