<% title "Edit Financial Transaction Method" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", @financial_transaction_method %> |
  <%= link_to "View All", financial_transaction_methods_path %>
</p>
