<%= f.fields_for :roles do |role| %>
	<div class='nested-fields form-horizontal'>
		<fieldset>
			<legend>Team Member &amp; Role</legend>
			<div class="control-group">
				<label class="control-label">Team Member</label>
				<div class="controls">
					<%= role.collection_select(:user_id, User.all, :id, :first_name, {prompt: "Select Team Member"}, {:class => "chzn-select"}) %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Role</label>
				<div class="controls">
					<%= role.collection_select(:role_type_id, RoleType.all, :id, :value, {prompt: "Select Role"}, {:class => "chzn-select"}) %>
				</div>
			</div>
			<% if form_actions_visible == true %>
				<div class="form-actions">
					<%= render :partial => "shared/form_actions" %>
				</div>
			<% end %>
		</fieldset>
	</div>
<% end -%>
