<% title "Edit Qualification Requirement Volume Bonus Plan" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", @qualification_requirement_volume_bonus_plan %> |
  <%= link_to "View All", qualification_requirement_volume_bonus_plans_path %>
</p>
