<div class="control-group nested-fields">
	<label class="control-label">Email</label>
	<div class="controls">
		<%= remove_form_link(f) %>
		<%= f.text_field :value, :class => 'input-large email-field' %>
	</div>
</div>
<% if form_actions_visible == true %>
	<%= render :partial => "shared/form_actions" %>
<% end %>