<fieldset>
	<div class="control-group">
		<label class="control-label">Feature Type</label>
		<div class="controls">
			<%= select("feature", "feature_type_id", FeatureType.all.collect {|p| [ p.value, p.id ] }, {}, {:class => "chzn-select"}) %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Value</label>
		<div class="controls">
			<%= f.text_field :value, :class => 'input-large' %>
		</div>
	</div>
</fieldset>
