<fieldset>
	<div class="control-group">
		<label class="control-label">Feature Type</label>
		<div class="controls">
			<%= feature.select(:feature_type_id, FeatureType.all, :id, :value, {}, {:class => "chzn-select"}) %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Value</label>
		<div class="controls">
			<%= feature.text_field :value, :class => 'input-large' %>
		</div>
	</div>
	<% if form_actions_visible == true %>
		<div class="form-actions">
			<%= content_tag :button, :type => :submit, :class => "btn btn-info" do -%>
				Save Changes
			<% end -%>
			<%= content_tag :button, :type => :cancel, :class => "btn btn-warning" do -%>
				Cancel
			<% end -%>
		</div>
	<% end %>
</fieldset>
