<div class="container">
	<div class="row">
		<div class="span7">
			<div class="nonboxy-widget">
				<div class="widget-head">
					<h5>Customer Details</h5>
				</div>
				<div class="widget-content">
					<div class="widget-box">
						<%= form_for :sale, :url => sales_path, :html => { :class => 'form-horizontal well' } do |f| -%>
					  		<%= render :partial => "form", :locals => {:f => f} %>
						<% end -%>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
