<div class="container">
	<div class="row">
		<%= form_for :sale, :url => sales_path do |f| -%>
		<div class="span7">
			<div class="nonboxy-widget">
				<div class="widget-head">
					<h5>Customer Details</h5>
				</div>
				<div class="widget-content">
					<div class="widget-box">
						<div class = 'form-horizontal well'>
							<%= f.fields_for :customer do |customer_builder| %>
					  			<%= render :partial => "customers/form", :locals => {:f => customer_builder} %>
							<% end -%>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% end -%>
	</div>	
</div>
